/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");



/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;


    /*========== Colors ==========*/

    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(93, 54%, 54%);
    --first-color-alt: hsl(93, 50%, 48%);
    --first-color-light: hsl(93, 58%, 66%);
    --title-color: hsl(228, 8%, 98%);
    --text-color: hsl(228, 8%, 70%);
    --white-color: hsl(228, 8%, 98%);
    --black-color: hsl(228, 6%, 4%);
    --body-color: hsl(228, 6%, 8%);
    --container-color: hsl(228, 6%, 12%);
    --shadow-img: 0 0 48px hsla(93, 54%, 54%, .4);
    --gradient-card: linear-gradient(180deg,
            hsla(93, 8%, 8%),
            hsla(93, 40%, 30%));


    /*========== Font and typography ==========*/

    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;


    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;


    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}



/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 4.25rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}



/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: 1rem;
}

.main {
    overflow: hidden;
}



/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__close,
.nav__toggle,
.nav__actions {
    color: var(--title-color);
    display: flex;
    cursor: pointer;
}

.nav__logo {
    font-weight: var(--font-semi-bold);
    column-gap: 0.25rem;
    align-items: center;
}

.nav__logo i {
    color: var(--first-color);
    font-size: 1.25rem;
    font-weight: initial;
}

.nav__actions {
    font-size: 1.25rem;
    column-gap: 0.5rem;
    align-items: center;
}


/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        padding: 6rem 3rem 0;
        top: 0;
        right: -100%;
        height: 100%;
        width: 60%;
        background-color: hsla(228, 24%, 6%, 0.2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        transition: right 0.4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.4s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
    font-size: 1.25rem;
}


/* Show menu */
.show-menu {
    right: 0;
}


/* Add blur header */
.blur-header::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: hsla(228, 24%, 6%, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: -1;
}


/* Active link */
.active-link {
    color: var(--first-color);
}



/*=============== HOME ===============*/
.home__container {
    row-gap: 3rem;
}

.home__img {
    width: 270px;
    filter: drop-shadow(var(--shadow-img));
    justify-self: center;
}

.home__data {
    text-align: center;
}

.home__title {
    margin-bottom: 1rem;
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
}

.home__title span {
    color: var(--first-color);
}

.home__description {
    margin-bottom: 3rem;
}

.home__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}



/*=============== BUTTON ===============*/
.button {
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    color: var(--black-color);
    font-weight: var(--font-bold);
    background-color: var(--white-color);
    border-radius: 4rem;
    display: inline-flex;
    align-items: center;
    column-gap: 0.75rem;
    transition: 0.4s ease-in-out;
}

.button:hover {
    box-shadow: 0 0 50px -10px var(--first-color);
}

.button span {
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: var(--first-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transform: rotate(270deg);
    transition: transform 0.4s;
}

.button:hover span {
    transform: translateX(0.5rem) rotate(0deg);
}

.button__link {
    color: var(--white-color);
    font-weight: var(--font-bold);
    transition: 0.4s ease-in-out;
}

.button__link:hover {
    color: var(--first-color);
    font-size: 1rem;
    padding-bottom: 0.2rem;
}



/*=============== NEW ===============*/
.new__container {
    row-gap: 7.5rem;
}

.new__data {
    text-align: center;
}

.new__content {
    row-gap: 6rem;
}

.new__card {
    position: relative;
    padding: 9rem 0.75rem 1.5rem 0.75rem;
    width: 200px;
    background: var(--gradient-card);
    border: 2px solid var(--first-color-light);
    border-radius: 1.5rem;
    transition: 0.4s ease-in-out;
}

.new__card:nth-child(1) {
    top: 0rem;
    left: 2rem;
    rotate: -10deg;
}

.new__card:nth-child(2) {
    top: 0rem;
    left: 2rem;
    rotate: 10deg;
}

.new__card:nth-child(3) {
    top: 0rem;
    left: 2rem;
    rotate: -5deg;
}

.new__card:nth-child(1):hover,
.new__card:nth-child(2):hover,
.new__card:nth-child(3):hover {
    rotate: 0deg;
    filter: drop-shadow(var(--shadow-img));
}

.new__img {
    position: absolute;
    margin: 0 auto;
    top: -4.5rem;
    left: 0;
    right: 0;
    width: 180px;
    transition: transform 0.4s;
}

.new__card:hover .new__img {
    transform: translateY(-0.8rem);
}

.new__title {
    font-size: var(--h2-font-size);
    text-align: center;
}



/*=============== SHOP ===============*/
.shop__container {
    padding-top: 6.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem 1.5rem;
}

.shop__card {
    position: relative;
    padding: 5.75rem 0.75rem 1.25rem 0.75rem;
    background: var(--gradient-card);
    border: 2px solid var(--first-color-light);
    border-radius: 1rem;
    transition: 0.4s ease-in-out;
    z-index: 5;
}

.shop__card:hover {
    box-shadow: 0 0 100px -50px var(--white-color);
    z-index: 1;
}

.shop__img {
    position: absolute;
    margin: 0 auto;
    top: -4.5rem;
    left: 0;
    right: 0;
    width: 130px;
    transition: transform 0.4s;
}

.shop__card:hover .shop__img {
    transform: translateY(-0.8rem);
}

.shop__title {
    margin-bottom: 0.5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}

.shop__price {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.shop__button {
    position: absolute;
    padding: 6px;
    right: 0.75rem;
    bottom: 0.75rem;
    font-size: 1.25rem;
    background-color: var(--white-color);
    display: grid;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}



/*=============== CARE ===============*/
.care__container {
    padding-top: 2rem;
    row-gap: 2rem;
}

.care__img {
    width: 270px;
    filter: drop-shadow(var(--shadow-img));
    justify-self: center;
}

.care__list {
    display: grid;
    row-gap: 1rem;
}

.care__item {
    display: flex;
    column-gap: 0.5rem;
    align-items: flex-start;
}

.care__item i {
    font-size: 1.25rem;
    color: var(--first-color);
}



/*=============== CONTACT ===============*/
.contact__container {
    padding-top: 2rem;
    row-gap: 2rem;
}

.contact__img {
    width: 270px;
    justify-self: center;
    filter: drop-shadow(var(--shadow-img));
}

.contact__content {
    display: grid;
    row-gap: 2rem;
    text-align: center;
}

.contact__title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.5rem;
}

.contact__social {
    display: flex;
    justify-content: center;
    column-gap: 0.75rem;
}

.contact__social a {
    color: var(--first-color);
    font-size: 1.5rem;
}

.contact__info {
    padding-top: 3rem;
    column-gap: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__details {
    font-style: normal;
}



/*=============== FOOTER ===============*/
.footer {
    padding-block: 4rem 2rem;
}

.footer__container {
    row-gap: 4rem;
}

.footer__logo {
    margin-bottom: 0.75rem;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    display: inline-flex;
    column-gap: 0.25rem;
}

.footer__logo i {
    color: var(--first-color);
    font-size: 1.5rem;
    font-weight: initial;
}

.footer__content {
    column-gap: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__title {
    margin-bottom: 1rem;
    font-size: var(--normal-font-size);
}

.footer__links {
    display: grid;
    row-gap: 0.75rem;
}

.footer__link {
    color: var(--text-color);
    transition: color 0.4s;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.footer__social-link {
    color: var(--text-color);
    font-size: 1.5rem;
    transition: color 0.4s;
}

.footer__link:hover,
.footer__social-link:hover {
    color: var(--first-color);
}

.footer__media {
    justify-content: center;
    align-items: center;
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: hsl(228, 4%, 15%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(228, 4%, 25%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(228, 4%, 35%);
}



/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    padding: 6px;
    right: 1rem;
    bottom: -50%;
    color: var(--title-color);
    font-size: 1.25rem;
    background-color: var(--container-color);
    box-shadow: 0 12px 24px hsla(228, 48%, 4%, 0.5);
    border-radius: 2rem;
    display: inline-flex;
    transition: bottom 0.4s, transform 0.4s;
    z-index: var(--z-tooltip);
}

.scrollup:hover {
    font-weight: 700;
    color: var(--black-color);
    background-color: var(--first-color);
    transform: translateY(-0.5rem);
    transition: 0.4s ease-in-out;
}

/* Show Scroll Up */
.show-scroll {
    bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    }

    .home__title {
        font-size: 2rem;
    }

    .home__buttons {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .contact__info {
        row-gap: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 200px);
    }

    .footer__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__description {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .footer__media {
        padding-top: 2rem;
        display: grid;
    }
}



@media screen and (min-width: 480px) {
    /* .contact__info {
        column-gap: 1.75rem;
    }

    .footer__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__description {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    } */


}


/* For medium devices */
@media screen and (min-width: 576px) {

    .home__container,
    .new__container,
    .care__container {
        grid-template-columns: 440px;
        justify-content: center;
    }

    .home__buttons {
        column-gap: 3rem;
    }

    .new__card:nth-child(1) {
        top: 0rem;
        left: 2rem;
        rotate: -10deg;
    }

    .new__card:nth-child(2) {
        top: -1rem;
        left: 12rem;
        rotate: 10deg;
    }

    .new__card:nth-child(3) {
        top: -1rem;
        left: 4rem;
        rotate: -5deg;
    }

    .shop__container {
        grid-template-columns: repeat(2, 180px);
        column-gap: 2rem;
        justify-content: center;
    }

    .footer__container {
        text-align: center;
    }

    .footer__infos {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }

    .footer__content {
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
    }
}



@media screen and (min-width: 768px) {
    .nav__menu {
        width: 50%;
    }

    .home__img {
        width: 300px;
    }

    .home__title {
        font-size: 3rem;
    }

    .new__content {
        row-gap: 0rem;
    }

    .home__buttons {
        column-gap: 4rem;
    }

    .new__card:nth-child(1) {
        top: 0rem;
        left: -3rem;
    }

    .new__card:nth-child(2) {
        top: -7rem;
        left: 18rem;
    }

    .new__card:nth-child(3) {
        top: -2rem;
        left: 4rem;
    }

    .shop__container {
        grid-template-columns: repeat(3, 220px);
        column-gap: 2rem;
        justify-content: center;
    }

    .care__img {
        padding: 2.5rem 0;
        width: 400px;
    }

    .care__list {
        grid-template-columns: 450px;
        justify-content: center;
    }

    .contact__img {
        padding: 2rem 0;
        width: 400px;
    }

    .footer__content {
        column-gap: 8rem;
    }

    .footer__infos {
        display: flex;
        justify-content: center;
        column-gap: 8rem;
    }
}

/* For large devices */
@media screen and (min-width: 1280px) {
    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 7rem 2rem;
    }

    .section__title {
        margin-bottom: 1.5rem;
    }

    .nav {
        display: flex;
        height: calc(var(--header-height) );
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__logo,
    .nav__logo i {
        padding-left: 1rem;
        font-size: 2rem;
    }

    .nav__actions {
        padding-right: 1rem;
        font-size: 2rem;
        column-gap: 1rem;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3.5rem;
    }

    .new__card{
        padding: 10rem 0.75rem 1.5rem 0.75rem;
        width: 220px;
    }

    .care__list{
        grid-template-columns: 600px;
    }
}